.problem-header{
    width:100%;
    flex-wrap: wrap;
    display:flex;
    align-items:center;
    justify-content: center;
    gap:10px;
}
.tag{
    padding:8px;
    background-color:rgb(216, 216, 216);
    border-radius:6px;
    cursor:pointer;

}
.tag:hover{
    background-color:rgb(231, 212, 212);
}
.buyme{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    padding:20px;
    border-radius:4px;
    background-color: black;
    color:white;
}
.buyme a{
    color:inherit;
    color:rgb(205, 205, 205);
    text-decoration:none;
    font-size:25px;
    
}
.buyme a:hover{
    color:rgb(255, 255, 255);
}